/*
 * To adjust the icon size to a bigger one 
 */
.dashboard-icon{
    width: 5em;
    height: 5em;
    object-fit: cover;
}

/*
 * To adjust the icon size to a bigger one 
 */
.edit-icon{
    font-size: 7em;
}